@model LibraryManagerSystem.Models.issuebook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <h1> Trả sách thành công </h1>
    <table class="table">
        <tr>
            <th>
                Tên sách
            </th>
            <th>
                Ngày trả sách
            </th>
            <th>
                Trạng thái
            </th>
        </tr>
        @if (Model != null)
        {
            <tr>

                <td>
                    @Html.DisplayFor(model => model.book_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.returndate)
                </td>
                <td>
                    Đã trả
                </td>
            </tr>
        }
    </table>
}
else
{
    <h1> Trả sách thất bại </h1>
}

